<!DOCTYPE html>
<html lang="ko-kr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- vuejs develop mode-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>ICEWALL - 실적</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <!-- TODO: sidebar 추가 -->
            <main class="col-md-9">
                <!-- TODO: header_nav 추가 -->
                <div class="header_nav">
                    ICEWALL 실적
                </div>
                <div>
                    <h3>실적 목록</h3>
                </div>
                <div id="view_tables">
                    <template>
                        <div v-for="table in tables">
                            <h4>{{ table.title }}</h4>
                            <table class="table tale-striped">
                                <thead>
                                    <tr>
                                        <th v-for="column in table.columns">
                                            {{ column }}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="row in table.data">
                                        <td v-for="value in row">
                                            {{ value }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </template>
                </div>
            </main>
        </div>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="./static/js/jquery-3.5.1.min.js"></script>
    <script src="./static/js/popper.min.js"></script>
    <script src="./static/js/bootstrap.min.js"></script>

    <!-- JS -->
    <script src="./static/js/performance.js"></script>
</body>

</html>